@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(234 115 115), rgb(104 28 252));
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid gold;
    text-shadow: 5px;
    /*
    border-radius: 30px;
    */
}

.button{
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 3px;
    background: linear-gradient(rgba(9, 9, 99, 0.620),rgba(0, 0, 0, 0.620));
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 60px;
}

.button:hover{
    background: transparent;
    border: 2px solid gold;
    color: gold;
    border-radius: 9px;
}
.row{
    margin: 5px 0;
    
}

.row input{
    margin: 0;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(rgba(9, 9, 99, 0.620),rgba(0, 0, 0, 0.620));
    border: 2px solid white;
    border-radius: 9px;
    font-size: 18.99999909px;
    color: white;
}

.row input:hover{
    border: 2px solid rgb(227, 193, 2);
    background: transparent;
    border-radius: 9px;
    color: gold;
}